<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.michelangelo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" />
    <uses-feature android:name="android.hardware.sensor.compass" />
    <uses-feature android:name="android.hardware.sensor.gyroscope" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.michelangelo.MichelangeloCamera"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_michelangelo_camera"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.michelangelo.MichelangeloGallery"
            android:label="@string/title_activity_michelangelo_gallery"
            android:parentActivityName="com.michelangelo.MichelangeloCamera" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.michelangelo.MichelangeloCamera" />
        </activity>
        <activity
            android:name="com.michelangelo.MichelangeloHelp"
            android:label="@string/title_activity_michelangelo_help"
            android:parentActivityName="com.michelangelo.MichelangeloCamera" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.michelangelo.MichelangeloCamera" />
        </activity>
        <activity
            android:name="com.michelangelo.MichelangeloAbout"
            android:label="@string/title_activity_michelangelo_about"
            android:parentActivityName="com.michelangelo.MichelangeloCamera" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.michelangelo.MichelangeloCamera" />
        </activity>
        <activity
            android:name="com.michelangelo.MichelangeloModelviewer"
            android:label="@string/title_activity_michelangelo_modelviewer"
            android:parentActivityName="com.michelangelo.MichelangeloGallery" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.michelangelo.MichelangeloGallery" />
        </activity>
        <activity
            android:name="com.michelangelo.MichelangeloUI"
            android:label="@string/title_activity_michelangelo_ui" >
        </activity>
        <activity android:name="com.michelangelo.STLViewActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="file" />
				<data android:scheme="http" />
				<data android:mimeType="*/*" />
				<data android:pathPattern=".*\\.stl" />
				<data android:pathPattern=".*\\.STL" />
				<data android:host="*" />
			</intent-filter>
		</activity>
		<activity android:name="com.michelangelo.PreferencesActivity"
			android:label="@string/app_pref" android:theme="@style/Theme.DefaultActivity">
			<intent-filter>
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
    </application>

</manifest>
